
<script defer src="/js/clients.js"></script>

<div class="container ">
  <section class="clients">
    <div class="clients__btnAdd">
      <h1 class="">Клиенты</h1>
        <button class="btn">Новый клиент</button>
    </div>

    {{!-- <div class="clients__table"></div> --}}
    <ul class="clients__table">

      {{#each clients}}
      <li class="clients__table-item" data-id="{{this.id}}" data-id="{{this.id}}">
        <a href="/clients/show/{{this.id}}" class="client__link">
          <div class="clients__block profile">
            <img src="/img/header/profile.png" alt="Prof">
            <span>{{this.firstName}} {{this.lastName}} {{secondName}}</span>
          </div>

          <div class="clients__block city">
            <span>{{this.location}}</span>
          </div>

          <div class="clients__block comment">
            <span>{{this.comment}}</span>
          </div>

          <div class="clients__block meneger">
            <span>{{userName}}</span>
          </div>

          
          

        </a>
        <div class="clients__block delete">
            <span>удалить</span>
          </div>
      </li>
      {{/each}}


      {{!-- del --}}
      

      {{!-- /del --}}


    </ul>



  


  </section>
</div>


<div class="modal hide">
  <div class="modal__content">
    <h2>Новый клиент</h2>
    <form action="/clients/{{userId}}/new" class="modal__form" method="POST">
      <input type="text" class="modal__form-input" name="firstName" placeholder="Имя...">
      <input type="text" class="modal__form-input" name="lastName" placeholder="Фамилия...">
      <input type="text" class="modal__form-input" name="secondName" placeholder="Отчество...">
      <input type="text" class="modal__form-input" name="location" placeholder="Адрес проживания...">
      <textarea name="comment" class="modal__form-input" id="" cols="30" rows="10" placeholder="Комментарии..."></textarea>

      <button type="submit" class="btn btn-green">Сохранить</button>
    </form>
  </div>
</div>
